In [1]:
import numpy as np 
import pandas as pd

In [54]:
ff=pd.read_excel(r"C:\Users\manne\Downloads\Clean.xlsx")

In [55]:
ff.head()

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,1,5.1,3.5,1.4,0,Iris-setosa
1,1,2,4.9,3.0,1.4,0,Iris-setosa
2,2,3,NaN,3.2,1.3,0,Iris-setosa
3,3,4,4.6,3.1,1.5,0,Iris-setosa
4,4,5,5.0,3.6,1.4,0,Iris-setosa

In [56]:
ff.isna().sum()

Unnamed: 0       0
Id               0
SepalLengthCm    4
SepalWidthCm     4
PetalLengthCm    3
PetalWidthCm     0
Species          5
dtype: int64

In [57]:
ff['SepalLengthCm'].fillna(ff['SepalLengthCm'].median(),inplace=True)               ##Replacing Missing values

In [58]:
ff['SepalWidthCm'].fillna(ff['SepalWidthCm'].median(),inplace=True)

In [59]:
ff['PetalLengthCm'].fillna(ff['PetalLengthCm'].median(),inplace=True)

In [60]:
ff['Species'].fillna(ff['Species'].mode()[0],inplace=True)

In [61]:
ff.isna().sum()

Unnamed: 0       0
Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [62]:
sl = (ff["SepalLengthCm"]<0.5) | (ff["SepalLengthCm"]>8)
pl = (ff['PetalLengthCm']< 0.5) | (ff['PetalLengthCm']> 7)       ##Outliner 
sw = (ff['SepalWidthCm']<0.5 ) | (ff['SepalWidthCm']> 5)
pw = (ff["PetalWidthCm"]< 0) | (ff["PetalWidthCm"]> 2)

In [63]:
ff["SepalLengthCm"] = np.where(sl, ff["SepalLengthCm"].median(),ff["SepalLengthCm"])
ff['PetalLengthCm'] = np.where(pl, ff['PetalLengthCm'].median(),ff['PetalLengthCm'])
ff['SepalWidthCm'] = np.where(sw, ff['SepalWidthCm'].median(),ff['SepalWidthCm'])
ff['PetalWidthCm'] = np.where(pw, ff['PetalWidthCm'].median(),ff['PetalWidthCm'])

In [65]:
ff.drop('Unnamed: 0',axis = 1, inplace = True)
ff.drop("Id",axis = 1,inplace = True)

In [66]:
sum(ff.duplicated())

18

In [68]:
ff.drop_duplicates(inplace=True)

In [71]:
sum(ff.duplicated())

0

In [72]:
ff.info()                          ##type casting

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  142 non-null    float64
 1   SepalWidthCm   142 non-null    float64
 2   PetalLengthCm  142 non-null    float64
 3   PetalWidthCm   142 non-null    float64
 4   Species        142 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.7+ KB

In [74]:
ff['SepalLengthCm']=ff['SepalLengthCm'].astype('float64')

In [77]:
ff['SepalWidthCm']=ff['SepalWidthCm'].astype('float64')
ff['PetalLengthCm']=ff['PetalLengthCm'].astype('float64')
ff['PetalWidthCm']=ff['PetalWidthCm'].astype('float64')

In [78]:
ff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  142 non-null    float64
 1   SepalWidthCm   142 non-null    float64
 2   PetalLengthCm  142 non-null    float64
 3   PetalWidthCm   142 non-null    float64
 4   Species        142 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.7+ KB