1. **Basic List Comprehension:**
   Write a Python program that uses list comprehension to generate a list of cubes of the first 10 positive integers.

2. **Filtering with List Comprehension:**
   Given a list of integers, create a new list using list comprehension that contains only the multiple of 3 and 5 from the original list.

3. **String Manipulation with List Comprehension:**
   Given a list of strings, create a new list using list comprehension that contains the lengths of each string.


4. **List Comprehension with Conditionals:**
   Given a list of numbers, create a new list using list comprehension that contains the squares of even numbers 


5. **Pattern Printing**

    Write a Python program that takes an integer 'n' as input and prints the following pattern:

    For `n = 4`, the pattern should look like this:

    ```
    1
    1 2
    1 2 3
    1 2 3 4
    ```

6. **Multiplication Table**

      Create a Python program that generates and prints a multiplication table for a given number 'n'. The table should include values from 1 to 10.

For example, if `n = 5`, the output should be:

    ```
    5 x 1 = 5
    5 x 2 = 10
    5 x 3 = 15
    5 x 4 = 20
    5 x 5 = 25
    5 x 6 = 30
    5 x 7 = 35
    5 x 8 = 40
    5 x 9 = 45
    5 x 10 = 50
    ```

7. **Star Patterns**

    Write a Python program that takes an integer 'n' as input and prints the following patterns:

    a) Right-angled triangle pattern:
    ```
    *
    **
    ***
    ****
    *****
    ```

    b) Inverted right-angled triangle pattern:
    ```
    *****
    ****
    ***
    **
    *
    ```


8. **Number Pyramid**

    Create a Python program that takes an integer 'n' as input and prints a number pyramid as shown below:

    For `n = 4`, the output should be:

    ```
       1
      212
     32123
    4321234
    ```

In [1]:
[i**3 for i in range(0,10)]                   #1

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [3]:
num=list(range(0,10))
[i for i in num if (i%3==0) or (i%5==0)]

[0, 3, 5, 6, 9]

In [4]:
name=["ram","krishna","sita","radha"]         #2

In [5]:
[len(i) for i in name]

[3, 7, 4, 5]

In [6]:
num1=[1,4,5,9,7,2]                           #3

In [9]:
[i**2 for i in num1 if i%2==0]

[16, 4]

In [5]:
n=4
for i in range(1,5):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [7]:
n=5
for i in range(1,11):
    print(f"{i}*{n}={n*i}")

1*5=5
2*5=10
3*5=15
4*5=20
5*5=25
6*5=30
7*5=35
8*5=40
9*5=45
10*5=50

In [9]:
n=int(input("Enter the number :: "))
for i in range(1,n+1):
    print("*"*i)

Enter the number :: 5
*
**
***
****
*****

In [12]:
n=int(input("Enter the number :: "))
for i in range(n,0,-1):
    print("*"*i)

Enter the number :: 5
*****
****
***
**
*

In [14]:
num = int(input("Enter the number  :: "))
for i  in range(1,num+1):
    for j in range(1,num-i+1):
        print(end=" ")
    for j in range(i,0,-1):
        print(j,end= "")
    for j in range(2,i+1):
        print(j,end = "")
    print( )

Enter the number  :: 6
     1
    212
   32123
  4321234
 543212345
65432123456