1. Create a lambda function that takes two arguments and returns their sum.

In [1]:
a = lambda x,y: x+y

In [2]:
a(8,9)

17

1.1 Create another lambda function that takes a single argument and returns its square.

In [4]:
a = lambda x: x**2

In [5]:
a(4)

16

1.3 Use the lambda functions to calculate the sum and square of various numbers and print the results.

In [7]:
add = lambda *n : sum(n)

In [8]:
add(22,444,66,778)

1310

In [13]:
list1 = [5,4,3,2,8]
square = lambda x: x**2

In [14]:
list(map(lambda n : n**2  , list1))

[25, 16, 9, 4, 64]

2. Define a list of integers.Use the filter function to create a new list that contains only the even numbers from the original list.Print both filtered lists.

In [15]:
original = [4,5,6,8,33,55,77,99]

In [16]:
def even(a):
    if a%2==0:
        return a
    else:
        pass

In [18]:
evenlist = list(filter(even, original))

In [19]:
print("even numbers are ", evenlist)

even numbers are  [4, 6, 8]

2.2 Use the filter function again to create a new list that contains only numbers greater than 10 from the original list.

In [20]:
original = [1,2,3,5,6,8,9]

In [21]:
def greater(b):
    if b>10:
        return b
    else:
        pass

In [22]:
greater = list(filter(greater,original))

In [24]:
print("greater than 10 numbers from the list are", greater)

greater than 10 numbers from the list are []

3. Define a list of strings where each string represents a number (e.g., ["1", "2", "3"]).

In [26]:
liststring =  ["1", "2", "3"]

3.1 Use the map function to convert each string to an integer and store the result in a new list

In [28]:
def string(n):
    if liststring[0] == int(n):
        return n

In [29]:
newlists = list(map(int,liststring))
newlists

[1, 2, 3]

3.2 Use the map function again to square each integer in the new list and store the result in another new list.

In [30]:
newlists

[1, 2, 3]

In [37]:
def square(n):
    if n > 0:
        return n*n
    else:
        pass

In [32]:
squarelist = list(map(square,newlists))
print("square of a each number from the list" ,squarelist)

square of a each number from the list [1, 4, 9]

4 Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example: [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]

In [33]:
info =  [{"name": "ram", "age": 20}, {"name": "Deeppika", "age": 35}, {"name": "Kamal", "age": 20} ]

4.1 Use the filter function to create a new list that contains only the people who are older than 25.

In [38]:
def older(n):
    if n["age"] >= 25:
        return n

In [36]:
olderlist = list(filter(older,info))
olderlist

[{'name': 'Deeppika', 'age': 35}]

Use the map function to create a new list that contains the names of the filtered people.
Print the list of names.

In [39]:
def name1(n):
    return {"name" : n["name"]}

In [40]:
filteredlist = list(map(name1,olderlist))
filteredlist

[{'name': 'Deeppika'}]

In [41]:
list1 = []

In [43]:
n = int(input("enter the number of integers u want : "))
for i in range(1,n+1):
    a= int(input("enter the number: "))
    list1.append(a)
print(list1)

enter the number of integers u want : 3
enter the number: 1
enter the number: 2
enter the number: 3
[7, 4, 4, 3, 2, 2, 2, 1, 2, 3]

In [44]:
def square(n) :
    return n*n

In [46]:
list2 = list(map(square,list1))
print(list2)

[49, 16, 16, 9, 4, 4, 4, 1, 4, 9]

In [47]:
def div(n):
    if n%3 != 0:
        return n
    else:
        pass

In [49]:
not3 = list(filter(div,list2))
not3

[49, 16, 16, 4, 4, 4, 1, 4]